<article class="col-12 col-md-3">
    <div class="card">
        <img src="{{ image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">Smartphone ZTE A54 128GB/ 4GB Gris/Negro</p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</article>