<h1>Productos</h1>

<div class="row">
    {{#if products}}

    {{#each products}}
    {{> card title=this.title image=this.img}}
    {{/each}}

    {{else}}
    <p>No hay productos</p>
    {{/if}}
</div>

<ul>
    {{#each fruts}}
    <li>
        {{ this }}
    </li>
    {{/each}}
</ul>