<h1>Productos</h1>

<div class="row">
    {{> card title="ZTE" img="https://www.pcfactory.cl/public/foto/50037/1_200.jpg?t=1713542184599" }}
    {{> card title="Motorola" img="https://www.pcfactory.cl/public/foto/48183/1_200.jpg?t=1712348209323" }}
    {{> card title="Motorola" img="https://www.pcfactory.cl/public/foto/44473/1_200.jpg?t=1709222667989" }}
    {{> card title="Xiaomi" img="https://www.pcfactory.cl/public/foto/50697/1_200.jpg?t=1712349941174" }}
</div>